/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
    --main-color: #F16D8F;
    --main-color-hover: #BC4563;
    --main-text-color: #FFF;
}

html, body {
    color: #0D1F3C;
    font-size: 1em;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;

    box-sizing: border-box;
    background-color: #E7E7EA;
}

a {
    color: var(--main-color);
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

body.backoffice {
    background-color: #212222;
}

body.backoffice .block.header {
    border-bottom: 1px solid #39393b;
}

body.backoffice h2, body.backoffice .agenda .agenda__day .agenda__day__info {
    color: #FFF;
}

body.backoffice .agenda .agenda__day .agenda__day__content {
    padding-right: 250px;
    max-width: 50%;
    min-width: 500px;
}

body.backoffice .options {
    color: #FFF;

}

h1, h2 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
    line-height: 55px;
}

h2 {
    font-size: 40px;
    line-height: 40px;
}

h5 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
    margin: 10px 0;
}

.button-layer {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    padding: 50px;
}

.button-layer .main-button {
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    padding: 0 25px;
    line-height: 60px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--main-text-color);
    background-color: var(--main-color);
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, .5);
    position: relative;
    cursor: pointer;
}

.button-layer .main-button span {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: -2px;
}

.button-layer .main-button span img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.button-layer .main-button:hover {
    background-color: var(--main-color-hover);
}


.container {
    padding: 80px;
}

.block {

    position: relative;
    overflow-y: scroll;

}

.block .block-col {
    display: inline-block;
    max-width: calc(50% - 20px);
    vertical-align: top;
    width: 100%;
}

.block .block-col + .block-col {
    margin-left: 20px;
}


.block .block-options {

    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, .5);
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;

}

.block.header {
    height: 80px;
    color: #FFF;

    display: flex;
    background-color: #212222;
}

.block.header .header__image {
    padding: 20px;
}

.block.header .header__title {
    line-height: 80px;
    min-width: 50%;
}

.block.header .header__title h1 {
    line-height: 80px;
}

.block.header .header__title h1 span {
    font-size: 15px;
}

.block.header .header__options {
    text-align: right;
    width: 100%;
    padding: 0 20px;
    line-height: 80px;
}

.block.header .header__options a {
    color: #FFF;
}

.block.header .header__options a span {
    display: inline-block;
    margin-left: 10px;
    top: -1px;
    position: relative;
}

body.backoffice .block.header .header__options a span {

    top: -3px;

}


.bottom-blocks {
    height: calc(100vh - 80px);
    padding: 40px 0;
    overflow-y: auto;
}

.main-title {
    padding: 20px 100px 40px;
}

.options {
    padding: 10px 100px 20px;
}

.options label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    padding-left: 5px;
    top: 1px;
    opacity: .5;
}

.options label:hover {
    opacity: 1;
}

.options input[type=checkbox]:checked + label {
    color: #12B981;
    opacity: 1;
}

.agenda {
    margin-bottom: 150px;
}

.agenda .agenda__day {
    display: flex;
    margin: 10px 0;

}

.agenda .agenda__day .agenda__day__info {
    width: 100px;
    min-width: 100px;
    text-align: center;
    opacity: .6;
}

.agenda .agenda__day .agenda__day__info .agenda__day__info__number {
    font-size: 40px;
    font-weight: 300;
}

.agenda .agenda__day .agenda__day__content {
    width: 100%;
    padding-right: 80px;
}


.item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.item-list.pending-only > li:not(.pending) {
    display: none;
}

.item-list > li {
    display: block;

    background-color: #FFF;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.item-list > li.pending {
    /* background-color: #D2D3D3; */
    background-color: #212222;
    color: #FFF;
    border: 1px solid #6A6C6C;
}

.item-list > li.declined {
    background-color: #333;
    color: #FFF;
    border: 1px solid #333;

}

.item-list > li.declined > .item-list__title, .item-list > li.declined > .item-list__description {
    opacity: .3;
}

.item-list > li > .item-list__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    max-width: 80%;
}

.item-list > li > .item-list__description {
    opacity: .5;
    font-size: 15px;
    max-width: 70%;
}

.item-list > li > .item-list__data {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #919090;
    font-size: 15px;
    text-align: right;

}

.item-list__status__approved {

    color: #12B981;
    position: relative;
    font-weight: bold;
    display: block;
    padding-right: 20px;
    text-transform: uppercase;
}

.item-list__status__approved:before {
    content: "";
    border-bottom: 2px solid #12B981;
    border-left: 2px solid #12B981;
    right: 0px;
    top: 5px;
    height: 4px;
    width: 10px;
    display: inline-block;
    transform: rotate(-45deg);
    position: absolute;
}

.item-list__status__declined {

    color: #D84A4A;
    position: relative;
    font-weight: bold;
    display: block;
    padding-right: 20px;
    text-transform: uppercase;
}

.item-list__status__declined:before {
    content: "";
    border-bottom: 2px solid #D84A4A;
    border-left: 2px solid #D84A4A;
    right: 0px;
    top: 9px;
    height: 0px;
    width: 8px;
    display: inline-block;
    transform: rotate(-45deg);
    position: absolute;
}

.item-list__status__declined:after {
    content: "";
    border-bottom: 2px solid #D84A4A;
    border-left: 2px solid #D84A4A;
    right: 0px;
    top: 9px;
    height: 0px;
    width: 8px;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
}


.item-list > li > .item-list__actions {
    position: absolute;
    right: -110px;
    width: 100px;
    top: 0;
}

.item-list > li > .item-list__actions a {
    font-size: 15px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    border: 1px solid #D2D3D3;
    color: #D2d3d3;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
}

.item-list > li > .item-list__actions a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.item-list > li > .item-list__actions a.item-list__actions__accept {
    color: #12B981;
    border-color: #12B981;
}

.item-list > li > .item-list__actions a.item-list__actions__reject {
    color: #D84A4A;
    border-color: #D84A4A;
}

.item-list > li > .item-list__actions a.item-list__actions__accept:hover {
    color: #FFF;
    background-color: #12B981;
}

.item-list > li > .item-list__actions a.item-list__actions__reject:hover {
    color: #FFF;
    background-color: #D84A4A;
}


.modal {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: none;
}

.modal.open {
    display: block;
}

.modal .modal__overlay {
    background-color: #000;
    opacity: .8;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal .modal__content {
    background-color: #FFF;
    width: 600px;
    margin: 0 80px 80px;

    border-radius: 0 0px 10px 10px;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 50%;
    margin-left: -300px;
    display: inline-block;
    box-sizing: border-box;
    max-height: 90%;
    display: flex;
    flex-flow: column;

}

.modal .modal__content .modal__content__title {
    padding: 20px 20px;
    font-size: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    position: relative;
}

.modal .modal__content .modal__content__title h5 {
    margin: 0;
}

.modal .modal__content .modal__content__title .close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;
    opacity: .5;
}

.modal .modal__content .modal__content__title .close:hover {
    opacity: 1;
}

.modal .modal__content .modal__content__body {
    padding: 40px 20px;
    color: #666;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    max-height: 80%;
    overflow: scroll;
}

.modal .modal__content .modal__content__body__hidden {
    display: none !important;
}

.modal .modal__content .modal__content__message {
    padding: 80px;
    color: #666;
    text-align: center;
    font-size: 20px;
}

.modal .modal__content .modal__content__message__hidden {
    display: none !important;
}

.modal .modal__content .modal__content__message a {
    color: var(--main-color);
    cursor: pointer;
}

.modal .modal__content .modal__content__message a:hover {
    text-decoration: underline;
    color: var(--main-color-hover);
}

.modal .modal__content .modal__content__action {
    padding: 20px 20px;

}

.modal .modal__content .modal__content__action__hidden {
    display: none !important;
}

.modal .modal__content .modal__content__action .modal__content__action__message {
    padding: 0px 0px 15px;
    font-size: 15px;
    color: #D84A4A;
}

.modal .modal__content .modal__content__action .button {
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    padding: 0 25px;
    line-height: 40px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--main-text-color);
    background-color: var(--main-color);
    position: relative;
}

.modal .modal__content .modal__content__action .button:hover {
    background-color: var(--main-color-hover);
}

.form {
    font-size: 0;
}

.form .form-field {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    padding-right: 5px;
    box-sizing: border-box;
}

.form .form-field:last-child {
    margin-bottom: 0;
}

.form .form-field.half {
    width: 50%;
}

.form .form-field label {
    font-size: 15px;
    text-transform: uppercase;
    display: block;
}

.form .form-field input, .form .form-field textarea {
    font-size: 20px;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d2d3d3;
    background-color: #E0E3E5;
    border-radius: 5px;
}

.form .form-field textarea {
    line-height: 30px;
}

.form .form-field.error label {
    color: #D84A4A;
}

.form .form-field.error input {
    border-color: #D84A4A;
    background-color: #E7C9C9;
}

@media only screen and (max-width: 1440px) {


}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
        box-sizing: border-box;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
